
*.out

simpledu

logs.o

comp

main.o

*.o

testeT_du.txt

testeT_simpledu.txt

Projeto_2/Q1

Projeto_2/U1

.vscode/

*.err

*.log

Projeto_2/Parte_1/Q1

Projeto_2/Parte_1/U1

Projeto_2/Parte_2/Q2

Projeto_2/Parte_2/aval1.sh

Projeto_2/Parte_2/U2
